*
{
    margin: 0;
    padding: 0;
}
body
{
    background: #E68573;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1
{
    font-size: 20px;
    text-align: center;
    background: #E5BA69;
    color: #ffffff;
    border-radius: 5px;
}
h2
{
    font-size: 15px;
    text-align: center;
    background: #E5BA69;
    color: #ffffff;
    border-radius: 5px;

}
.formulario
{
    width: 320px;
    background: #E66C30;  
    padding: 40px 20px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
input[type="text"]
{
    width: 100%;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px ;
    color: rgb(255, 255, 255);
}
input[type="password"]
{
    width: 100%;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px ;
    color: rgb(255, 255, 255);
}
input[type="radio"]
{
    width: 6px 15px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px ;
    color: rgb(255, 255, 255);
}
input[type="email"]
{
    width: 100%;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px ;
    color: rgb(255, 255, 255);
}
select[class="seleccion"]
{
    width: 100%;
    background: #E5BA69;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px ;
    color: rgb(0, 0, 0);
}
input[type="phone"]
{
    width: 100%;
    background: none;
    border: 1px solid #ffffff;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px ;
    color: rgb(255, 255, 255);
}
input[type="submit"]
{
    background: #E69F7D;
    width: 100%;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    border: none ;
    cursor: pointer;
    color: #000;
    font-size: 20px;
}
input[type="submit"]:hover
{
    background:#E68573 ;
    transition: .6s;
}

